body {
    background-color: rgb(75, 75, 75);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.page-container {
    background-color: white;
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
}

h1, h2, h3 {
    text-align: center;
}

p, li {
    font-size: 18px;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

li {
    margin-right: 5px
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

hr {
    border: 1px solid black;
}

#recipe-list {
    text-align: center;
    list-style: none;
}