body {
    background-color: rgb(75, 75, 75);
}

.page-container {
    background-color: white;
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

hr {
    border: 1px solid black;
}

#recipe-list {
    text-align: center;
    list-style: none;
}